@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}

@layer base {
	li {
		@apply p-4;
	}
}

/* .text-suth-blue {
	color: #26235d;
} */

#backgroundWWA {
	margin: 0;
	background-image: url(./assets/BG-Team-Table.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

/* #backgroundTTU {
	margin: 0;
	background-image: url(./assets/BG-TalkToUs3.jpeg);
	background-size: 100%;
	background-repeat: no-repeat;
} */

#backgroundTTU {
	margin: 0;
	background: linear-gradient(
		147deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 46%,
		rgba(204, 52, 86, 1) 100%
	);
}

#backgroundTest {
	margin: 0;
	background: linear-gradient(
		147deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 46%,
		rgba(204, 52, 86, 1) 100%
	);
}

@media only screen and (max-width: 600px) {
	#backgroundWWA {
		margin: 0;
		background-image: url(./assets/BG-Team-Table.jpg);
		background-size: 450%;
		background-repeat: no-repeat;
	}

	/* #backgroundTTU {
		margin: 0;
		background-image: url(./assets/BG-TalkToUs3.jpeg);
		background-size: 450%;
		background-repeat: no-repeat;
	} */
}
