@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}

@layer base {
	li {
		@apply p-4;
	}
}

/* .text-suth-blue {
	color: #26235d;
} */

#backgroundWWA {
	margin: 0;
	background-image: url(./assets/BG-Team-Table.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
	#backgroundWWA {
		margin: 0;
		background-image: url(./assets/BG-Team-Table.jpg);
		background-size: 450%;
		background-repeat: no-repeat;
	}
}
